

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.platform__btns{
    position: fixed;
    top: 200px;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;
    gap: 1.33rem;
}
.platform__btns button{
    background: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 10px;

}
.main-container{
    background: hwb(207 56% 2%);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 25% 75%);
    align-items: center;
    padding: 2rem 20px;
    display: none;
}
.main-container.active{
    display: block;
    background: hwb(207 56% 2%);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 25% 75%);
    align-items: center;
    padding: 1rem 20px;
   
   
}

.left-container .left-top{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    background: rgb(59, 58, 58);
    padding: 2px 20px;
    height: 55px;
}
.menu__icon__admin{
    background: lightblue;
    padding: 3px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 10px;
    display: none;
}
.menu__icon__admin.active{
    display: block;
}
 
.left-container .left-bottom{
    padding: 0 20px ;
    margin-top: 2rem;
}
.left-container .left-bottom li{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 1rem;
    padding: 2px 5px;
}
.left-container .left-bottom li:hover{
    background: rgb(163, 164, 164);
    cursor: pointer;
    color: black;
    padding: 5px 5px;
    border-radius: 10px;
}
.left-container .left-bottom li:nth-child(7){
    margin-top: 5rem;

}
.left-container .left-bottom li i{
    background: lightblue;
    padding: 5px;
    border-radius: 50%;
}
.left-container .left-bottom li p{
    color: rgb(206, 241, 249);
    font-size: 20px;
    letter-spacing: 2px;
    font-family: sans-serif;
}
.left-container .left-bottom li.active{
    background:rgb(32, 31, 31) ;
    border-radius: 10px;
}

.left-container .left-top h1{
    color: rgb(172, 211, 226);
    letter-spacing: 2px;
}
.left-container .left-top p, .right-container .right-top span{
    color: #fff;
    letter-spacing: 3px;
    font-size: 20px;
}

.left-container{
    background: hsl(200, 3%, 39%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}



.right-container{
    background: hsl(200, 18%, 50%);
    height: 100%;
}

.right-container .right-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2px 20px;
    background: rgb(59, 58, 58);
    gap: 1rem;
    height: 55px;
}
.storeName{
    display: flex;
    align-items: center;
    gap: 10px;
}
.storeName h1{
    font-size: 25px;
    color: rgb(163, 202, 163);
}
.storeName i{
    background: lightblue;
    padding: 5px;
    border-radius: 50%;

}
.login-div{
    margin-right: 4rem;

}
.login-div span{
    background: rgb(6, 71, 92);
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
  
}

.right-container .right-buttom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;

}



.orderroom{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 10px;
    position: relative;
    display: none;


}

.orderroom.active{
    display: block;
    display: flex;
}
.in__coming__order__infor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 120%;
    height: 500px;
    display: none;
}
.in__coming__order__infor.active{
    display: block;
}
.in__coming__order__infor h1{
    text-transform: capitalize;
    color: lightcoral;
}
.new__order__close{
    position: absolute;
    right: 20px;
    top: 10px;
    background: red;
    color: white;
    border: none;
    padding: 6px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.in__new__oderDetails{

    padding: 4px;
    margin-top: 1rem;
}
.in__new__oderDetails table{
    width: 100%;
}
.in__new__oderDetails table thead{
    background: lightblue;
}
.in__new__oderDetails table td{
    text-align: center;
    font-size: 20px;

}
.in__new__oderDetails table tbody button{
    background: lightblue;
    border: none;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
.in__new__oderDetails table tbody tr:hover{
    background: black;
    color: white;

}


.right-container .right-buttom .orderroom h2{
    font-size: 1.88rem;
    color: azure;
}

.order_room_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    gap: 1rem;
}

.order_room_info .card{
    background: hsl(201, 11%, 50%);
    box-shadow: 1px  2px 8px rgb(185, 184, 184);
    padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   flex-direction: column;
   width: 350px;
   height: 150px;
   border-radius: 10px;
   transition: all 0.3s ease;
}
.order_room_info .card:hover{
    background: rgb(20, 51, 67);
}
.order_room_info .card h1{
    color: lightblue;
    letter-spacing: 2.88px;
    text-align: center;
}
.order_room_info .card p{
    color: azure;
    text-transform: capitalize;
    font-size: 17px;
    text-align: center;
    margin-top: 1rem;
}
.order_room_info .card h2{
    background: rgb(44, 43, 43);
    color: lightblue;
    padding: 4px 20px;
    margin-top: 1rem;
    border-radius: 10px;
}

.order__display{
    position: fixed;
    background: white;
    width: 70%;
    top: 90px;
    max-height: 565px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 10px;
    display: none;
  
}
.order__display.active{
    display: block;
}

.close__checked{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 5px 10px;
    background: red;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.order__display__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order__display__top__left, .order__display__top__right{
    box-shadow: 0 1px 1px 2px rgb(231, 227, 227);
    width: 480px;
    padding: 10px;
    border-radius: 10px;
    height: 150px;
    margin-top: 1.44rem;
}

.order__display__top__left .cardd, .order__display__top__right .cardd{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.order__display .cardd h1{
    margin-top: 2rem;
    color: rgb(117, 214, 247);
    font-weight: 600;
    font-size: 25px;
 
    
}
.order__display .cardd h1 span{
    color: rgb(28, 27, 27);
    margin-left: 10px;
    font-size: 20px;

}


.order__display__top__bottom{
    padding: 10px;
    box-shadow: 0 1px 1px 4px rgb(251, 245, 245);
    margin-top: 2rem;
    border-radius: 10px;
}
.order__display__top__bottom h1{
    color: rgb(151, 216, 238);
    margin-bottom: 1rem;
}
.order__display__top__bottom table{
    width: 100%;
}
.order__display__top__bottom table thead{
    background: lightblue;
   
}
.order__display__top__bottom table thead tr, .order__display__top__bottom table tbody tr{
    text-align: center;
  
}
.order__display__top__bottom table thead tr td{
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
}
.order__display__top__bottom table tbody tr td{
    padding: 4px;
    font-size: 17px;
    border-bottom: 1px solid black;
}
.order__display__top__bottom table tfoot tr{
    background: black;
   
   
}
.order__display__top__bottom table tfoot tr td{
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 5px;
}

















.order__list{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 10px;
    display: none;
  

}
.order__list.active{
    display: block;
    display: flex;
}
.order__list h1, .finance h1, .report h1, .ordermenu h1, .aggregaters h1,  .help h1{
    color: lightcyan;
    font-size: 2rem;
    text-transform: capitalize;
}

.date__infor{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.date__infor span{
    color: lightcyan;
    font-size: 23px;
    margin-right: 10px;
}
.date__infor  input{
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    background: lightblue;
    outline: none;
    border-radius: 10px;
}
.date__infor  button{
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: lightblue;
    cursor: pointer;
}
.order__list  table{
    background: white;
    padding: 10px;
    font-size: 20px;
   
}
.order__list  table thead{
    background: black;
    color: #fff;
    border-radius: 10px;
}
.order__list table tr{
    border:  1px solid black;
    cursor: pointer;
}
.order__list  table td{
    width: 200px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px 1.55px black;
 
    margin: 0;
}

.finance{

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 10px;
    display: none;

}
.finance.active{
    display: block;
    display: flex;

}
.finance__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.finance__Infor{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.finance__Infor .cards{
    background: rgb(173, 231, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    border-radius: 10px;
}
.finance__Infor .cards h1{
    color: rgb(15, 21, 23);
    text-align: center;
    margin-bottom: 2rem;
}
.finance__Infor .cards p{
    font-size: 20px;
    font-weight: 600;
    color: red;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.help__infor{
    display: flex;
    margin-top: 2rem;
    gap: 10px;
}
.help__infor .cardz{
    background: rgb(48, 47, 47);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px white;


}
.help__infor .cardz:hover{
    box-shadow: none;

}

.report{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 10px;
    display: none;

}
.report.active{
    display: block;
    display: flex;
}

.report .report__info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.report .report__info .repor__card{
 background-color: rgb(207, 245, 250);

 padding: 10px;
 height: 400px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 margin: 1rem;
 width: 200px;

}
.report .report__info .repor__card h1{
    color: #5d5b5b;
    z-index: 6;
    text-align: center;

}

.report .report__info .repor__card p{
    z-index: 3;
    text-align: center;
    font-size: 17px;
    line-height: 1.88rem;
  


}
.report .report__info .repor__card button{
    z-index: 3;
    padding: 13px 20px;
    background-color: rgb(23, 22, 22);
    color: lightblue;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
}
.report .report__info .repor__card button:hover{
    background: white;
    border: 1px solid black;
    color: black;
}

.ordermenu{   
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 10px;
    display: none;


}
.ordermenu.active{
    display: block;
    display: flex;
}

.order__menu__infor{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: 100%;

}
.order__menu__infor .list__items li img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.order__menu__infor .list__items li{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 5px 10px;
    margin-top: 2px;
    justify-content: space-between;
    width: 700px;
    border-radius: 10px;
}
.order__menu__infor .list__items li button{
    padding: 8px 12px;
    border: none;
    background: red;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
}
.order__menu__infor .list__items li p{
    font-size: 20px;
}

.menu__actions{
    margin-top: 4rem;
}
.menu__actions button{
    padding: 12px 20px;
    font-size: 25px;
    background: rgb(46, 45, 45);
    color: lightblue;
    cursor: pointer;
    border-radius: 10px;
}
.menu__actions button:hover{
    color: white;
}

.aggregaters{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 10px;
    display: none;

}
.aggregaters.active{
    display: block;
    display: flex;

}



.list__aggregators  table{
    background: white;
    padding: 10px;
    font-size: 20px;
   
}
.list__aggregators  table thead{
    background: rgb(13, 52, 64);
    color: #fff;
    border-radius: 10px;
}
.list__aggregators table tr{
    border:  1px solid rgb(12, 53, 70);
    cursor: pointer;
}
.list__aggregators  table td{
    width: 200px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px 1.55px black;
 
    margin: 0;
}
.list__aggregators  table tbody tr button{
    background: red;
    color: white;
    padding: 4px 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
 .add__agg{
    margin-top: 2rem;
    padding: 12px 20px;
    font-size: 20px;
    background: black;
    color: white;
    border-radius: 10px;
   cursor: pointer;
 }

 .help{

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 10px;
    display: none;

 }
 .help.active{
    display: block;
    display: flex;
 }
 .help .help__infor{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: 100%;

 }
 .help__infor__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
 }
 .help__infor__top__card{
    display: flex ;
    align-items: center;
 }
 .help__infor__top__card input , select{
    padding: 6px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: rgb(224, 224, 250);
 }
 .input__help{
    margin-left: 20px;
 }
 .input__help span{
    color:rgb(224, 224, 250) ;
    font-size: 20px;
 }
 .help__display{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
 }
 .help__display p{
    background: white;
    padding: 10px;
    font-size: 20px;
 }
 .help__display button{
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: black;
    color: white;
 }

 .help__infor__bottom{
    margin-top: 2rem;
    display: flex;
    align-items: center;
 }

 .help__infor__bottom .cards{
    background: hsl(0, 3%, 15%);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    gap: 1rem;
    cursor: pointer;
    border-radius: 10px;
 }
 .help__infor__bottom .cards:hover{
    border: 1px solid white;

 }
 .help__infor__bottom .cards i{
    background-color: lightblue;
    padding: 10px;
    border-radius: 50%;
 }
 .help__infor__bottom .cards h1{
    font-size: 25px;
    letter-spacing: 2px;
 }
 .help__infor__bottom .cards p{
    color: white;
 }

  

 @media screen and (max-width: 1010px) {
    .main-container{
        background: red;

    }
    .slagon{
        display: none;
    }
    .left-container{
        position: relative;
       

    }
    .left-top{
        position: absolute;
        width: 100%;
       

    }
    .right-container{
        width: 95vw;
        position: relative;
        

    }
    .right-top{
        top:0;
        position: absolute;
        width: 100%;

    }
    .menu__icon__admin{
        display: block;
    }
    .left-container{
        position: absolute;
        top: 50px;
        background: rgb(80, 80, 80);
        z-index: 4;
        display: none;
        top:80px;
        height: 550px;
    }
    .left-container.active {
        display: block;
    }
    .left-container.active .left-top{
        display: none;
    }
    .left-bottom{
        margin-top: 6rem;
    }
    .orderroom{
        margin-top: 6rem;
    }
  
   
  }





 @media screen and (max-width: 750px) {
  
  
    .order_room_info .card{
       width: 300px;
    }
    .order_room_info .card h1{
        font-size: 20px;
    }
    .order__list{
        margin-top: 6rem;
    }
    .order__list__infor table thead td{
        font-size: 15px;
    }
    .order__list__infor table tbody td{
        font-size: 15px;

    }
    .finance{
        margin-top: 6rem;
    }
    .finance__Infor .cards{
        width: 200px;
    }
    .finance__Infor .cards h1{
        font-size: 25px;
    }
    .aggregaters{
        margin-top: 6rem;
    }
    .list__aggregators table thead td{
        font-size: 17px;
    }
    .list__aggregators table tbody td{
        font-size: 15px;
    }
    .report{
        margin-top: 6rem;

    }
    .ordermenu{
        margin-top: 6rem;
    }
    .help{
        margin-top: 6rem;
    }
    .help__infor__bottom .cards h1{
        font-size: 20px;
        text-align: center ;
    }
    .help__infor__top__card input , select{
        padding: 4px 10px;
        font-size: 15px;
      
     }
   

    .in__new__oderDetails table thead td{
        font-size: 13px;
    }
    .in__new__oderDetails table tbody td{
        font-size: 13px;
    }
  
     .in__coming__order__infor{
        width: 100%;
     }
     .menu__icon__admin{
        display: block;
        background: rgb(0, 4, 255);
    }
  }

 @media screen and (max-width: 550px) { 
    .menu__icon__admin{
        display: block;
        background: rgb(0, 255, 17);
    }
    .order_room_info{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .in__new__oderDetails table thead td{
        font-size: 13px;
    }
    .in__new__oderDetails table tbody td{
        font-size: 13px;
    }
    .order__list{
        width: 100%;
    }
    .date__infor input{
        padding: 4px 6px;
        font-size: 15px;
        width: 100px;
    }
    .date__infor span{
        font-size: 15px;
    }
    .date__infor button{
        width: 90px;
        font-size: 15px;
    }
    .order__list__infor{
        width: 100%;
    }
    .order__list__infor table thead td{
        font-size: 11px;
    }
    .order__list__infor table tbody td{
        font-size: 11px;

    }
    .finance__Infor .cards{
        width: 200px;
    }
    .finance__Infor .cards h1{
        font-size: 25px;
    }
    .finance__Infor .cards{
        width: 120px;
    }
    .finance__Infor .cards h1{
        font-size: 20px;
    }
    .help__infor .cardz h1{
        font-size: 25px;
    }
   .report .report__info{
    display: flex;
    flex-wrap: wrap;
       
    }
    .repor__card{
        width: 200px;
        gap: 2px;
    }

    .repor__card h1{
        font-size: 25px;
    }
    .repor__card p{
        display:  -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .repor__card button{
        font-size: 15px;
        
    }
    .order__menu__infor{
        width: 100%;
    }
    .list__items{
         width: 100%;
    }
    .order__menu__infor .list__items li{
        width: 360px;
     
    }
    .menu__actions button{
        font-size: 17px;
    }
    .list__aggregators{
        width: 360px;
    }

    .list__aggregators table thead td{
        font-size: 11px;
    }
    .list__aggregators table tbody td{
        font-size: 11px;
    }
    .list__aggregators table tbody td button{
        font-size: 12px;
    }
    .add__agg{
        font-size: 17px;
        margin-left: 10px;
    }
    .help__infor{
        margin-top: 1rem;
    }

    .help__infor__bottom .cards h1{
        font-size: 15px;
        text-align: center ;
    }
    .help__infor__bottom .cards p{
        text-align: center;
        font-size: 12px;
        color: #fff;
    }
  
    .help__infor__top__card input , select{
        padding: 2px 5px;
        font-size: 12px;
        width: 120px;
      
     }
     .input__help span{
        font-size: 12px;
     }
     .help__display p{
        font-size: 16px;
     }
   
 }




